<!DOCTYPE html>
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@Page.Title — Kasyno SGGW</title>
    @*<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript" src="~/Scripts/resizeIframe.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>





    <div class="brand">Kasyno</div>
    <div class="address-bar">Projekt Zespołowy | SGGW | ISK</div>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">                   
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="~/">Kasyno</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li><a href="~/">Strona główna</a></li>
                    @if (Session["username"] != null)
                    {
                        <text>
                            <li><a href="~/Account/Manage" title="Manage">Zarządzaj kontem</a></li>
                            <li>
                                <form id="logoutForm" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml() <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj "@Session["username"]"</a>
                                </form>
                            </li>


                        </text>
                    }
                    else
                    {
                        <li><a href="~/Account/Register">Rejestracja</a></li>
                            <li><a href="~/Account/Login">Logowanie</a></li>
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

        @RenderBody()

        <!-- /.container -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>Copyright &copy; Michał Rosa (www). Informatyka ISK. Projekt zespołowy SGGW @DateTime.Now.Year.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- jQuery -->
        <script src="~/Scripts/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="~/Scripts/bootstrap.min.js"></script>
    
        <!-- Script to Activate the Carousel -->
        <script>
            $('.carousel').carousel({
                interval: 2000 //changes the speed
            })
        </script>

        @RenderSection("Scripts", required: false)
</body>
</html>