<<<<<<< HEAD
﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Ruletka";
    string title = "";

    if (Session["username"] == null)
    {
        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="col-lg-12 text-center">


                        @{title = "Zaloguj się lub zarejestruj żeby zagrać...";
                            <hgroup class="title">
                                <h1>@title</h1>
                            </hgroup>
                            Session["gra"] = "ruletka";
                        }
                    </div>
                </div>

            </div>
        </div>
                            }
                            else
                            {
                                <script>
								var UserPassword = '@Session["userPassword"]';
								var UserName = '@Session["username"]';
                                </script>
                                <div class="container">
                                    <div class="row">
                                        <div class="box">
                                            <div class="col-lg-12 text-center">
                                                <iframe class="iframe" onload="resizeIframe(this)" src="~/Ruletka/"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row">
                                        <div class="box">
                                            <div class="col-lg-12 text-center">
                                                <center><h2>RULETKA</h2></center>
                                                Pierwsze skojarzenie z kasynem? Oczywiście ruletka. Spróbuj swoich sił w tej najbardziej kultowej grze. <br>
                                                Wpisz wartości zakładów na planszy po prawej stronie, naciśnij „Zakręć” i sprawdź, na którym polu zatrzymała się kulka! <br>
                                                Tabela wygranych: <br>

                                                <table align="center" border="5">
                                                    <tr>
                                                        <td>Number (pojedynczy numer od 0 do 36   </td>
                                                        <td>x36</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Red (czerwone)</td>
                                                        <td>x2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Black (czarne)</td>
                                                        <td>x2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Odd (nieparzyste)</td>
                                                        <td>x2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Even (parzyste)</td>
                                                        <td>x2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Low (niskie 1-18)</td>
                                                        <td>x2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>High (wysokie 19-36)</td>
                                                        <td>x2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1st 12 (pierwszy tuzin 1-12)</td>
                                                        <td>x3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2nd 12 (drugi tuzin 13-24)</td>
                                                        <td>x3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3rd 12 (trzeci tuzin 25-36)</td>
                                                        <td>x3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1st column (pierwsza kolumna)</td>
                                                        <td>x3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2nd column (druga kolumna)</td>
                                                        <td>x3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3rd column (trzecia kolumna)</td>
                                                        <td>x3</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
=======
﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Ruletka";
    string title = "";

    if (Session["username"] == null)
    {
        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="col-lg-12 text-center">


                        @{title = "Zaloguj się lub zarejestruj żeby zagrać...";
                            <hgroup class="title">
                                <h1>@title</h1>
                            </hgroup>
                            Session["gra"] = "ruletka";
                        }
                    </div>
                </div>

            </div>
        </div>
                            }
                            else
                            {
                                <script>
								var UserPassword = '@Session["userPassword"]';
								var UserName = '@Session["username"]';
                                </script>
                                <div class="container">
                                    <div class="row">
                                        <div class="box">
                                            <div class="col-lg-12 text-center">
                                                <iframe class="iframe" onload="resizeIframe(this)" src="~/Ruletka/"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row">
                                        <div class="box">
                                            <div class="col-lg-12 text-center">
                                                <center><h2>RULETKA</h2></center>
                                                Pierwsze skojarzenie z kasynem? Oczywiście ruletka. Spróbuj swoich sił w tej najbardziej kultowej grze. <br>
                                                Wpisz wartości zakładów na planszy po prawej stronie, naciśnij „Zakręć” i sprawdź, na którym polu zatrzymała się kulka! <br>
                                                Tabela wygranych: <br>

                                                <table align="center" border="5">
                                                    <tr>
                                                        <td>Number (pojedynczy numer od 0 do 36   </td>
                                                        <td>x36</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Red (czerwone)</td>
                                                        <td>x2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Black (czarne)</td>
                                                        <td>x2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Odd (nieparzyste)</td>
                                                        <td>x2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Even (parzyste)</td>
                                                        <td>x2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Low (niskie 1-18)</td>
                                                        <td>x2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>High (wysokie 19-36)</td>
                                                        <td>x2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1st 12 (pierwszy tuzin 1-12)</td>
                                                        <td>x3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2nd 12 (drugi tuzin 13-24)</td>
                                                        <td>x3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3rd 12 (trzeci tuzin 25-36)</td>
                                                        <td>x3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>1st column (pierwsza kolumna)</td>
                                                        <td>x3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2nd column (druga kolumna)</td>
                                                        <td>x3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3rd column (trzecia kolumna)</td>
                                                        <td>x3</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
>>>>>>> 94061150dff5192db42ec3aeb7204a6438c8f0e2
}