@using WebMatrix.WebData

@* W przypadku korzystania z pakietów usuń tę sekcję *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        function pokaz_confirm() {
            return confirm("Czy liczysz się z konsekwencjami ucieczki z kasyna?");
        }
    </script>

}

@{

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Zarządzanie kontem";


    string title = "Zarządzanie kontem";
    string username = "";
    if (Session["username"] != null)
    {
        username = Session["username"].ToString();
    }

    var nowaKwota = "";
    var action = "";

    Validation.RequireField("nowaKwota", "Musisz wprowadzić kwotę doładowania");
    Validation.Add("nowaKwota", Validator.Float("ss"));

    if (IsPost)
    {
        AntiForgery.Validate();
        action = Request.Form["action"];
        nowaKwota = Request.Form["nowaKwota"];

        if (action == "delete")
        {
            AntiForgery.Validate();
            title = POST.delete(username);
            Session["username"] = null;
            Response.AddHeader("REFRESH", "1;URL=../");
        }
        if (action == "stanKonta")
        {
            title = POST.modifyBalance(username, nowaKwota);
        }

    }

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">


                    @{
                        if (@Session["username"] == null)
                        {
                            title = "Nie jesteś zalogowany";
                            <hgroup class="title">
                                <h1>@title</h1>
                            </hgroup>
                        }
                        else
                        {

                            <hgroup class="title">
                                <h1>@title</h1>
                            </hgroup>



                            <p>Zalogowano jako <strong>@Session["username"]</strong>.</p>


                            <h3>Informacje o użytkowniku:</h3>
                            <h5>ID: </h5>@POST.getUser("id", Session["username"].ToString());
                            <h5>NAZWA UŻYTKOWNIKA: </h5>@POST.getUser("username", Session["username"].ToString());
                            <h5>STAN KONTA: </h5>@POST.getUser("balance", Session["username"].ToString());

                            
                                    
                        




                            <form class="form-horizontal" method="post">
                                <div class="form-group">
                                    <h3>Usuń użytkownika:</h3>
                                    @AntiForgery.GetHtml()
                                    <label for="deleteUser" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-offset-2 col-sm-4 col-sm-offset-6">
                                        <button type="submit" class="btn btn-default" onclick="return pokaz_confirm()" name="action" value="delete">Kliknij aby siebie usunąć</button>
                                    </div>

                                </div>
                            </form>



                            <form class="form-horizontal" method="post">
                                <div class="form-group">
                                    <h3>Zmień stan konta:</h3>
                                    @AntiForgery.GetHtml()
                                    <label for="modifyUserBalance" class="col-sm-2 control-label"></label>
                                    <div class="col-sm-offset-2 col-sm-4 col-sm-offset-6">
                                        <input type="number" class="form-control text-center" placeholder="Wprowadź kwotę" id="nowaKwota" name="nowaKwota" value="@nowaKwota" @Validation.For("nowaKwota") />
                                        <p class="error">@Html.ValidationMessage("nowaKwota")</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
                                        <button type="submit" class="btn btn-default" name="action" value="stanKonta">Doładuj konto :D</button>
                                    </div>
                                </div>
                            </form>

                        }
                    }
                </div>

            </div>
        </div>
    </div>
}

